<!DOCTYPE html>
<html>
  <head>
    <title>{{Denim Corner}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<header>

</header>
  
  <body>

    {{{body}}}

    
  </body>
</html>
