
<div >

  <div>
  <h2 class="createNewInfluencer">Create New Influencer:</h2>
    
    <form action="/users/{{userId}}/influencer" method="POST">
      <div class="form-input">
        <label for="name">Name: </label>
        <input type="text" name="name" required>
      </div>

      <div class="form-input">
        <label for="instragram">Insta:</label>
        <input type="text" name="instagram">
      </div>

      <div class="form-input">
        <label for="location">Locat:</label>
        <input type="text" name="location">
      </div>

      <div class="form-input">
        <label for="photoUrl">Photo:</label>
        <input type="text" value="https://18429-presscdn-0-68-pagely.netdna-ssl.com/wp-content/uploads/2016/07/medium-default-avatar.png" name="photoUrl">
      </div>
<br>
      <div >
        <input  class="button primary" type="submit" value="Create Influencer">
        <button class="buttonwarning">
        <a href="/users/{{userId}}" >Cancel</a>

        </button>
      </div>
    </form>
  </div>
</div>

