<body>

</div>
<div class="card">

  <h2>User Info</h2>
  <div>
    <form action="/users" method="POST">
      <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="username" required/>
      </div>

      <div class="form-input">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" placeholder="Enter here.." />
      </div>

       <div class="form-input">
        <label for="lastName">Last Name</label >
        <input type="text" name="lastName" placeholder="Enter here.." />
      </div>

       <div class="form-input">
        <label for="Userinstagram">Instagram name</label>
        <input type="text" name="Userinstagram" placeholder="Enter here.." />
      </div>

       <div class="form-input">
        <label for="twitter">Twiiter Name?</label>
        <input type="text" name="twitter" placeholder="Enter here.." />
      </div>

       <div class="form-input">
        <label for="location">City</label>
        <input type="text" name="location" placeholder="Enter here.." />
      </div>

      <div class="form-input">
        <label for="photoUrl">Photo</label>
        <input type="text" name="photoUrl" placeholder="copy a jpg link here"required/>
      </div>

      <div class="form-input">
        <label for="description">What is fashion?</label>
        <input type="text" name="description"  placeholder="Enter here.."required/>
      </div>

      <div class="form-input">
        <label for="motto">Whats you fashion motto?</label>
        <input type="text" name="motto"  placeholder="Enter here.."required/>
      </div>

      <div class="button-container flex-end">
        <input class="button primary" type="submit" value="Create User">
        <a href="/users" class="button warning">Cancel</a>
      </div>
    </form>
  </div>
</div>


</body>