<body>
  

<div class="bg"></div>



<div class="card">

  <h2>New Contributor Page</h2>
  <p></p>
  <div class="container">
    <form action="/users" method="POST">
    <div class="row">
      <div class="col-25">
        <label for="username">User Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="User Name..">
         <div class="row">
      <div class="col-25">
        <label for="firstName">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="insta">Instagram Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="instagram" placeholder="@ your name..">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="location">Twitter Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="twitter" placeholder="@ twitter name..">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="location">City</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="location" placeholder="Current City..">
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-25">
        <label for="description">What is fashion?</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="description" placeholder="Write here.." style="height:100px"></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="motto">Whats your fashion motto? </label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="motto" placeholder="Write here.." style="height:100px"></textarea>
      </div>
    </div>
    
    <div class="row">
      <input type="submit" value="Submit">
      <input type="cancel" name="cancel" value="Cancel" />
      <a href="/users" class="button warning">Cancel</a>

      <div class="stepper">
  <a href="/users">Back</a> 
</div>
    </div>
    </form>
  </div>
</div>

</body>